body{
    cursor: none;
    @media (max-width:600px){
        cursor: unset;
    }
}
.cursor {
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var( --color-white);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    @media (max-width:600px) {
        display: none;
    }
}

.cursor2 {
    z-index: 1000;

    @include wh(20px,20px);
    border-radius: 100%;
    background-color: var(--color-liz-dark);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    @media (max-width:600px) {
        display: none;
    }
}

.hover {
    background-color: var(--color-main);
    opacity: 0.5;

    display: none;
    
}

.innerhover {
    opacity: 0.3;
    width: 80px;
    height: 80px;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;

    

}