@import 'sheet';
*{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav {
    @include wh(100%, 90px);
    @include t-inner();
    color: var(--color-liz);
    position: fixed;
    z-index: 1;
    background-color: var(--color-main-dark);

    // 內部元件對齊
    padding-left: 24px;
    display: flex;
    align-items: center;

    logo {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }
    .nav_btns{
        label{
            // background-color: #fff;
            padding:2px 4px;

            border-radius: var(--radius-sm);
        }
    }
}
// 以上nav

header{
    @include wh(100%,100vh);
    display: flex;

    @include material;
    background-color: var(--color-main);

    bottom{
        @include wh(100%,30%);
        position: absolute;
        bottom: -30px;
        
        background-image: url("../img/index/index_under_pic.jpg");
        background-size: contain;
        background-position:bottom;
        background-repeat: no-repeat;
        background-color: #333;

        &.mask {
            -webkit-mask: url("../img/index/index_under_mask.svg") no-repeat center bottom / cover;
            mask: url("../img/index/index_under_mask.svg") no-repeat center bottom / cover;
           }
    }

}