@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --body-padding: 5%;
  --section-height:100vh;
  --radius: 24px;
  --radius-sm: 8px;
  --color-main: #F1CE56;
  --color-main-dark: #333;
  --color-white: #fff;
  --color-liz: #C2724A;
  --color-liz-dark: #B04B19;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fz-title: 48px;
  --fz-inner: 18px;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

* {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nav {
  width: 100%;
  height: 90px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz);
  position: fixed;
  z-index: 1;
  background-color: var(--color-main-dark);
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
}

.nav .nav_btns label {
  padding: 2px 4px;
  border-radius: var(--radius-sm);
}

header {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
}

header bottom {
  -ms-grid-row: 11;
      grid-row-start: 11;
  grid-row-end: 16;
  bottom: -30px;
  background-image: url("../img/index/index_under_pic.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #333;
}

@media (max-width: 480px) {
  header bottom {
    background-image: url("../img/index/index_under_pic_sm.jpg");
  }
}

header bottom.mask {
  -webkit-mask: url("../img/index/index_under_mask.svg") no-repeat center 100%/contain;
  mask: url("../img/index/index_under_mask.svg") no-repeat center 100%/contain;
}

@media (max-width: 780px) {
  header bottom.mask {
    -webkit-mask: url("../img/index/index_under_mask_md.svg") no-repeat center 100%/contain;
    mask: url("../img/index/index_under_mask_md.svg") no-repeat center 100%/contain;
  }
}

section.part_2 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 11fr 5%;
      grid-template-columns: 5% 11fr 5%;
  -ms-grid-rows: 4fr 7fr 4fr;
      grid-template-rows: 4fr 7fr 4fr;
}

section.part_2 content {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  section.part_2 content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.part_2 content .pic_area {
  width: 400px;
  height: 400px;
  min-width: 400px;
  border-radius: 100%;
  background-color: #333;
  margin-right: 32px;
  background-image: url("../img/part2/part2_swiper_img (1).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.part_2 content .text_area .title {
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
}

section.part_2 content .text_area .second {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  font-weight: bold;
  color: var(--color-main-dark);
}

section.part_2 content .text_area .inner {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}
/*# sourceMappingURL=index.css.map */