// @import 'sheet';

// 開頭動畫 栗子三兄弟
.index_start {
    position: absolute;
    opacity: .9;
    // background-color: #333;
    top: 40%;
    left: 40%;
    width: 40vh;
    height: 40vh;
    transform: scale(1) rotate(0deg);
    z-index: 11;

    // display: none;
    /* animation: index_loadin 3s 1 linear; */
    .o_all {
        // background-color: red;
        background-image: url("../img/index/liz.svg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .o {
        width: 50%;
        height: 50%;

        border-radius: 100%;
        position: absolute;
        bottom: -20%;
        left: -20%;

    }

    .o1 {
        width: 200px;
        height: 200px;

        border-radius: 100%;
        position: absolute;
        top: -10%;
        right: -20%;
        transform: rotate(0.2turn);
    }

    .o2 {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        transform: rotate(0.5turn);
    }
}



// 開頭動畫
section {
    @include material;
}

.nav_bar {

    h1 {
        position: fixed;
        top: 20px;
        left: 40px;
        z-index: 10;

        font-size: 20px;
        font-weight: 900;
        font-family: Noto Serif TC;
        letter-spacing: 4px;
        text-transform: uppercase;



        cursor: pointer;

        a {
            color: #000;
            display: flex;
            align-items: center;
            user-select: none;
            // 不能反白
        }

        svg {
            margin-right: 8px;
        }

    }

    input{
        display: none;
    }

    input+label {
        position: fixed;
        top: 40px;
        right: 40px;
        height: 20px;
        width: 15px;
        z-index: 11;

        span {
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            display: block;
            background: var(--color-liz-dark);
            transition: .5s;
        }

        span:first-child {
            top: 3px;
        }

        span:last-child {
            top: 16px;
        }
    }

    label:hover {
        cursor: pointer;
    }

    input:checked+label {
        span {
            opacity: 0;
            top: 50%;
        }

        span:first-child {
            opacity: 1;
            transform: rotate(405deg);
        }

        span:last-child {
            opacity: 1;
            transform: rotate(-405deg);
        }
    }

    input~nav {
        //   background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 9;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;

        >ul {

            list-style: none;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 20%;
            right: 20%;
            padding: 0px;

            >li {
                opacity: 0;
                transition: .5s;
                transition-delay: 0s;

                >a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--color-liz-dark);
                    @include t-title-sm;
                    display: block;
                    padding: 30px;
                    border-radius: var(--radius);
                    &:hover{
                        border: 2px solid rgba(51, 51, 51, 0.185);
                    }
                    &:focus {
                        color: var(--color-white);
                    }


                }
            }
        }
    }

    input:checked~nav {
        //   background-color: var(--color-main);
        background-color: #f1cd56ee;
        @include material;

        height: 100%;
        transition-delay: 0s;

        >ul {
            >li {
                opacity: 1;
                transition-delay: .5s;

            }
        }
    }

}

// nav/
header {
    user-select: none;
    min-width: 375px;
    @include wh(100%, 100vh);
    // display: grid;
    // grid-template-rows: repeat(15, 1fr);
    // grid-template-columns: repeat(15, 1fr);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include material;
    // background-color: var(--color-main);
    // 以下測試
    position: relative;
    // width: 100vw;
    // height: 100vh;
    overflow: hidden;
    z-index: 0;

    .main_liz {
        width: 9rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        animation: main_liz 10s infinite linear;

        cursor: pointer;

        &:hover {
            width: 9.5rem;
        }

        @media (max-width:1550px) {
            width: 8rem;

            &:hover {
                width: 8.5rem;
            }
        }

        @media(max-width:1440px) {
            width: 7rem;
        }

        @keyframes main_liz {
            0% {
                transform: scale(1) translate(-50%, -50%);

            }

            50% {
                transform: scale(1.1) translate(-50%, -50%);
            }

            100% {
                transform: scale(1) translate(-50%, -50%);

            }
        }
    }

    .inner {
        // background-color: rgba(228, 165, 165, 0.13);
        grid-row: 1/14;
        grid-column: 3/14;
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        padding-top: 6%;

        opacity: 0;
        transform: scale(0.1) rotate(180deg);

        .main_title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 16px;
            position: relative;

            .text_img_liz {
                width: 20rem;

            }

            &::before {
                content: url('../img/index/index_QianHe_logoSeal.svg');
                position: absolute;
                left: -40px;
                top: 0px;
                transform: scale(0.9);
            }

            @media (max-width:1400px) {
                margin-top: 4%;

                & .text_img_liz {
                    width: 16rem;
                }

                &::before {
                    left: -28px;
                    transform: scale(0.7);
                }
            }

            @media (max-width:650px) {
                margin-top: 20%;

                & .text_img_liz {
                    width: 12rem;
                }
            }


        }

        .second {
            @include t-inner;
            color: var(--color-liz-dark);
            text-align: center;
            padding-top: 28px;

            @media (max-width:650px) {
                @include t-inner-sm;
            }
        }



    }

    bottom {

        // grid-row-start: 12;
        // grid-row-end: 16;
        // grid-column: 1/16;
        width: 100%;
        height: 24%;
        z-index: 3;

        background-image: url("../img/index/index_under_pic.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #333;

        @media (max-width: 480px) {
            background-image: url("../img/index/index_under_pic_sm.jpg");
        }

        &.mask {
            -webkit-mask: url("../img/index/index_under_mask.svg") no-repeat center 100% / contain;
            mask: url("../img/index/index_under_mask.svg") no-repeat center 100% / contain;

            @media (max-width: 780px) {
                -webkit-mask: url("../img/index/index_under_mask_md.svg") no-repeat center 100% / contain;
                mask: url("../img/index/index_under_mask_md.svg") no-repeat center 100% / contain;
            }
        }

    }

    .decs {
        @include wh(120%, 120%);
        // background-color: rgb(247, 250, 74);
        position: absolute;
        top: -10%;
        left: -10%;

        z-index: 2;

        display: grid;
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(15, 1fr);

        img {
            opacity: 0.7;
        }

        .img_foodstand {
            position: absolute;
            left: 26%;
            bottom: 32%;
            transform: scale(0.9);

            @media (max-width:1340px) {
                left: 20%;
                transform: scale(0.7) rotate(-0.05turn);
            }

            @media (max-width:850px) {
                left: 18%;
                transform: scale(0.7) rotate(-0.05turn);
            }

            @media (max-width:650px) {
                left: -5%;
                transform: scale(0.6) rotate(0.0turn);
            }

            @media (max-width:400px) {
                bottom: 20%;
                transform: scale(0.4);
            }
        }

        .img_machine {

            grid-row: 5/6;
            grid-column: 10/11;
            transform: translate(0%, 30%) rotate(0.05turn);

            @media (max-width:1340px) {
                grid-column: 11/12;
                transform: translate(50%, 30%) scale(0.8) rotate(0.05turn);
            }
        }

        .liz_dec_4 {
            position: absolute;
            top: 30%;
            left: 5%;
            width: 8rem;
            transform: rotate(-0.2turn);

            @media (max-width:900px) {
                transform: scale(0.6) rotate(0.1turn);
            }
        }

        .r1 {
            grid-row: 7/8;
            grid-column: 3/4;
            transform: translate(-30%, 0%);
        }

        .r2 {
            grid-row: 8/9;
            grid-column: 13/14;
            transform: translate(-30%, 0%);
        }

        .r3 {
            grid-row: 6/7;
            grid-column: 14/15;
            transform: translate(-10%, -5%);

            @media (max-width:1340px) {
                transform: translate(-10%, -5%) scale(0.8);
            }

            @media (max-width:700px) {
                transform: translate(-10%, -5%) scale(0.5);
            }
        }

        .r4 {
            grid-row: 3/4;
            grid-column: 13/14;
            transform: translate(20%, 10%);
        }



    }

    .liz_dec {
        @include wh(120%, 120%);
        // background-color: rgb(206, 74, 74);
        position: absolute;
        top: -10%;
        left: -10%;

        z-index: 2;

        display: grid;
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(15, 1fr);


        // 動畫
        transform: scale(0.1);
        opacity: 0;
        // overflow: hidden;

        img {
            opacity: 0.7;
        }

        .liz_dec_1 {
            // grid-row: 9/15;
            // grid-column: 1/6;
            transform: rotate(0.02turn);
            position: absolute;
            width: 48rem;
            bottom: -24%;

            @media (max-width:1340px) {
                width: 38rem;
                bottom: -10%;

            }

            @media (max-width:1150px) {
                left: -10%;
                transform: rotate(0.01turn);
            }

            @media (max-width:765px) {
                left: -10%;
                bottom: 0%;
                width: 28rem;
            }

            @media (max-width:650px) {
                left: -20%;
                bottom: 0%;
                width: 26rem;
            }

            // @media (max-width:650px) {
            //     grid-row: 11/16;
            //     grid-column: 1/6;
            // }

        }

        .liz_dec_2 {
            // position: absolute;
            // top:0px;
            width: 25rem;
            position: absolute;
            right: 0%;
            top: 0%;
            transform: rotate(0.44turn);
            transform: scale(0.9) translate(-10%, -12%) rotate(0.44turn);

            @media (max-width:1300px) {
                transform: scale(1.0) translate(-10%, 7%) rotate(0.44turn);
            }

            @media (max-width:1150px) {
                transform: scale(1.1) translate(10%, 15%) rotate(0.53turn);
            }

            @media (max-width:800px) {
                transform: scale(0.9) translate(28%, 15%) rotate(0.53turn);
            }

            @media (max-width:600px) {
                transform: scale(0.8) translate(40%, -30%) rotate(0.53turn);
            }

            @media (max-width:400px) {
                transform: scale(0.75) translate(60%, -30%) rotate(0.53turn);
            }
        }

        .liz_dec_3 {

            position: absolute;
            top: 50%;
            right: 10%;
            width: 16rem;
            transform: scale(0.9) translate(50%, -10%) rotate(-0.1turn);

            @media (max-width:1300px) {
                transform: scale(0.6) translate(40%, 10%) rotate(-0.1turn);
            }

            @media (max-width:900px) {
                right: 0%;
                transform: scale(0.4) translate(60%, 10%) rotate(-0.1turn);
            }


        }

        .liz_dec_5 {
            position: absolute;
            top: 26%;
            left: 20%;
            width: 2.1rem;
            transform: rotate(-0.1turn);
            opacity: 0.3;
        }

        // .img_prize{
        //     width: 100px;
        //     border-radius: 12px;
        //     grid-row: 10/11;
        //     grid-column: 10/11;
        //     transform: scale(0.8) translate(-20%,-10%);

        // }
        .r5 {
            grid-row: 3/4;
            grid-column: 3/4;
            transform: scale(0.5) translate(20%, 30%);

            @media (max-width:1300px) {
                transform: scale(0.5) translate(20%, 30%);
            }

            @media (max-width:650px) {
                transform: scale(0.5) translate(-50%, -10%);
            }
        }
    }

    .bg {
        @include wh(100%, 100%);
        // background-color: #333;
        position: absolute;
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(15, 1fr);
        z-index: 1;


        .img_insurance {
            width: 100px;
            border-radius: 12px;
            grid-row: 10/11;
            grid-column: 11/12;
            // transform: scale(0.8);

            @media (max-width:1300px) {
                transform: scale(0.8);
            }

            @media (max-width:700px) {
                display: none;
            }
        }
    }

    .index_bg_round {
        position: absolute;
        top: 50%;
        left: 50%;

        animation: index_bg_round 80s infinite linear;
    }

    .load_animate {
        opacity: 0;
        transform: scale(0.1) rotate(0deg);
    }

    .load_animate_opacity {
        opacity: 0;
    }

    // 動畫背景圓形旋轉
    @keyframes index_bg_round {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        to {
            transform: translate(-50%, -50%) rotate(359deg);
        }
    }
}