@import 'sheet';

.part_5 {

    @media (max-width: 1062px) {
        position: relative;
    }

    img {
        vertical-align: top;
    }

    .product_list {
        // width: 100%;
        // height: 50vh;
        // overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1062px) {
            display: block;
        }

        .product_content {
            // border: 1px solid black;
            width: 1045px;
            height: 100%;
            position: absolute;

            display: flex;

            z-index: 1;

            justify-content: center;
            align-items: center;


            @media (max-width: 1062px) {
                position: unset;

                width: 100%;

                background-color: var(--color-main-dark);

                display: flex;
                flex-direction: column-reverse;

            }

            .info {
                width: 33.33%;
                height: 100%;

                display: flex;
                align-items: center;

                @include t-inner;
                color: var(--color-white);
                width: 348px;
                height: 102px;

                text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

                @media (max-width: 1300px) {
                    font-size: var(--fz-inner-sm);
                }
            }

            .product_name {
                width: 33.33%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                writing-mode: vertical-lr;

                @include t-title;
                color: var(--color-white);
                text-shadow: var(--shadow);
                line-height: 69px;
                font-weight: 700;
                letter-spacing: 0.1em;

                img {
                    position: absolute;
                    top: 200px;
                    right: 450px;
                }

                @media (max-width: 1300px) {
                    font-size: var(--fz-title-sm);
                }

                @media (max-width: 1062px) {
                    height: auto;
                    writing-mode: horizontal-tb;
                }
            }

            .product_pic {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.33%;

                img {
                    @media (max-width: 1300px) {
                        width: 80%;
                    }
                }


                @media (max-width: 1062px) {
                    position: absolute;
                    top: 40px;
                }
            }


        }
    }
}