@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --body-padding: 5%;
  --section-height:100vh;
  --radius: 24px;
  --radius-sm: 8px;
  --color-main: #F1CE56;
  --color-main-dark: #333;
  --color-white: #fff;
  --color-liz: #C2724A;
  --color-liz-dark: #B04B19;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fz-title: 48px;
  --fz-inner: 18px;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.part_6 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  margin: auto;
  text-align: center;
  padding: 70px 0px;
}

.part_6 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
  margin-bottom: 20px;
}

.part_6 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}

.part_7 {
  background-color: var(--color-main-dark);
  color: var(--color-white);
  position: relative;
  padding: 65px 0px;
}

.part_7 .circle {
  width: 104px;
  height: 104px;
  background-color: var(--color-liz);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -4%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.part_7 .word {
  position: absolute;
  left: 90%;
  top: 8%;
}

.part_7 h1 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-align: center;
}

.part_7 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  width: 498px;
  margin-bottom: 20px;
}

.part_7 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  width: 443px;
  margin-bottom: 20px;
}

.part_7 .low-cost,
.part_7 .tec-transfer {
  width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 72px;
}

.part_7 .circular {
  border-radius: 50%;
}

.part_7 .line {
  width: 820px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 24px;
}

.part_7 .brand {
  width: 817px;
  margin: auto;
  padding-top: 72px;
}

.part_7 .all-logo {
  width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 52px;
}

.part_8 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  margin: auto;
  text-align: center;
  padding: 70px 0px;
}

.part_8 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
  margin-bottom: 20px;
}

.part_8 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}

.part_9 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  position: relative;
  padding: 90px 0px;
  overflow: hidden;
}

.part_9 .word-1 {
  position: absolute;
  left: 66%;
  top: 4%;
}

.part_9 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
  margin-bottom: 32px;
}

.part_9 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}

.part_9 .title {
  width: 826px;
  margin: auto;
}

.part_9 .title p {
  margin-bottom: 30px;
}

.part_9 .square {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  width: 826px;
  background-color: #F8F8F8;
  border-radius: var(--radius);
  margin: auto;
  padding: 22px 0px;
}

.part_9 form {
  width: 440px;
  margin: auto;
}

.part_9 form p {
  margin: 10px 0px;
}

.part_9 form .form-check-input {
  width: 24px;
  height: 24px;
  border: 2px;
  border-color: var(--color-liz-dark);
}

.part_9 form .form-check-label {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
  margin-left: 12px;
}

.part_9 form .age-area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.part_9 form .age-area1 .age-area1-2 {
  margin-left: 69px;
}

.part_9 form .age-area2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part_9 form .age-area2 .age-area1-2 {
  margin-left: 50px;
}

.part_9 form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part_9 form .pure-control {
  width: 265px;
  height: 50px;
  background-color: #ecb99c;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.part_9 form #mycanvas {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.part_9 form #myvad {
  width: 100px;
  height: 35px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  padding: 0px;
}

.part_9 form .pure-button {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-liz);
  color: white;
  margin-left: 15px;
}

.part_9 .line-1 {
  width: 826px;
  height: 2px;
  background-color: var(--color-liz-dark);
  margin: auto;
  margin-top: 60px;
}

.part_9 .contact {
  width: 826px;
  margin: auto;
  margin-top: 40px;
}

.part_9 .mail {
  width: 826px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 25px;
}

.part_9 .mail p {
  font-size: 36px;
  border-bottom: 1px var(--color-liz-dark) solid;
  padding-bottom: 3px;
  margin-left: 20px;
}

.part_9 .phone {
  width: 826px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 25px;
}

.part_9 .phone p {
  font-size: 36px;
  border-bottom: 1px var(--color-liz-dark) solid;
  padding-bottom: 3px;
  margin-left: 10px;
}

.part_9 .word-2 {
  position: absolute;
  left: 66%;
  bottom: 3%;
}

.part_9 .chestnut-1 {
  width: 250px;
  opacity: 0.5;
  position: absolute;
  left: -3%;
  top: 38%;
}

.part_9 .chestnut-2 {
  width: 120px;
  opacity: 0.5;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  left: 9%;
  top: 67%;
}

.part_9 .chestnut-3 {
  width: 250px;
  opacity: 0.5;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  position: absolute;
  left: 88%;
  top: 50%;
}

footer {
  background-color: var(--color-main-dark);
  color: var(--color-white);
  text-align: center;
  padding: 40px 0px;
}

footer h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  font-size: 18px;
  letter-spacing: 0.2em;
  margin-left: 10px;
}

footer .brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
}

footer .maker {
  font-size: 8px;
  margin-top: 60px;
}
/*# sourceMappingURL=part6.css.map */