.part_6 {
    @include material();
    @include padding-x();
    background-color: var(--color-main);
    text-align: center;
    overflow: hidden;

    position: relative;

    padding-top: 420px;
    padding-bottom: 70px;

    transition: 0.3s;

    .circle-behind {
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background-image: url(../img/part6/6/White-in-Jumper10.png);
        background-repeat: no-repeat;
        background-position: center bottom 180%;
        // background-color: rgba(255, 0, 0, 0.3);
        background-color: rgba(255, 0, 0, 0.2);

        margin: auto;
        overflow: hidden;


        position: absolute;
        left: 50%;
        top: -15%;
        transform: translate(-50%, 0%);

        .part_6-chestnut {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .circle-chestnut-1 {
            width: 270px;
            opacity: 0.9;

            position: absolute;
            left: 50%;
            bottom: -15%;
            transform: translate(-50%, 0%) rotate(-20deg);
        }

        .circle-chestnut-2 {
            width: 90px;
            opacity: 0.5;

            position: absolute;
            left: 14%;
            bottom: 20%;
        }

        .circle-chestnut-3 {
            width: 90px;
            opacity: 0.5;

            position: absolute;
            left: 75%;
            bottom: 12%;
            transform: rotate(-50deg);
        }

        .circle-chestnut-4 {
            width: 120px;
            opacity: 0.5;

            position: absolute;
            left: 83%;
            bottom: 28%;
            transform: rotate(-20deg);
        }

        .circle-front {
            width: 700px;
            height: 700px;
            border-radius: 50%;
            background-color: rgba(255, 115, 0, 0.4);
            mix-blend-mode: screen;
            overflow: hidden;

            h3 {
                color: white;
                text-align: center;
                margin-top: 600px;
            }
        }
    }

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);
    }

    .text {
        width: 540px;
        margin: auto;
        margin-top: 200px;
    }

    .card-area {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 50px 0px;

        // animation-name: square;
        // animation-duration: 6s;
        // animation-delay: 1s;
        // animation-timing-function: ease;
        // animation-iteration-count: infinite;
        // animation-direction: alternate;

        .square {
            @include shadow();
            width: 280px;
            height: 159px;
            border: 4px solid #C2724A;
            border-radius: var(--radius);

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0px 10px;

            .title {
                margin-top: 10px;
            }
        }
    }

    .line {
        width: 540px;
        height: 1px;
        background-color: var(--color-liz-dark);

        margin: auto;
        margin-bottom: 20px;
    }

    .chestnut-1 {
        width: 250px;
        opacity: 0.5;

        position: absolute;
        left: -3%;
        top: 46%;
    }

    .chestnut-2 {
        width: 125px;
        opacity: 0.5;
        transform: rotate(-15deg);

        position: absolute;
        left: 9%;
        top: 85%;
    }

    .chestnut-3 {
        width: 250px;
        opacity: 0.5;
        transform: rotate(-40deg);

        position: absolute;
        left: 88%;
        top: 60%;

    }
}

// part-6
// chestnut
@media (max-width:1620px) {
    .chestnut-2 {
        display: none;
    }
}

@media (max-width:1580px) {
    .chestnut-3 {
        display: none;
    }
}

@media (max-width:1315px) {
    .chestnut-1 {
        display: none;
    }
}

// main
@media (max-width:930px) {
    .part_6 {
        padding-left: 20%;
        padding-right: 20%;

        padding-top: 335px;

        .circle-behind {
            width: 600px;
            height: 600px;
            background-size: 1296px 739px;

            top: -12%;

            .circle-front {
                width: 600px;
                height: 600px;

                h3 {
                    margin-top: 525px;
                }
            }

            .circle-chestnut-1 {
                width: 231px;
            }

            .circle-chestnut-2 {
                width: 77px;
            }

            .circle-chestnut-3 {
                width: 77px;
            }

            .circle-chestnut-4 {
                width: 103px;
            }
        }

        h3 {
            @include t-title-sm();
            width: 100%;
        }

        p {
            @include t-inner-sm();
            width: 100%;
        }

        .text {
            width: 100%;
        }

        .card-area {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 35px 0px;

            .square {
                width: 48%;
                margin: 10px 0px;
            }
        }

        .line {
            width: 100%;
        }
    }
}

@media (max-width:650px) {
    .part_6 {
        @include padding-x();

        padding-top: 260px;

        .circle-behind {
            width: 500px;
            height: 500px;
            background-size: 1080px 616px;

            top: -8%;

            .circle-front {
                width: 500px;
                height: 500px;

                h3 {
                    margin-top: 435px;
                }
            }

            .circle-chestnut-1 {
                width: 193px;
            }

            .circle-chestnut-2 {
                width: 64px;
            }

            .circle-chestnut-3 {
                width: 64px;
            }

            .circle-chestnut-4 {
                width: 86px;
            }
        }

        .card-area {
            flex-direction: column;

            // padding: 0px;

            .square {
                width: 100%;
                height: 120px;
                margin: 10px 0px;
            }
        }

        .line {
            display: none;
        }
    }
}

@media (max-width:520px) {
    .part_6 {
        padding-top: 150px;

        .circle-behind {
            width: 365px;
            height: 365px;
            background-size: 788px 450px;

            top: -6%;

            .circle-front {
                width: 365px;
                height: 365px;

                h3 {
                    font-size: 22px;
                    margin-top: 312px;
                }
            }

            .circle-chestnut-1 {
                width: 141px;
            }

            .circle-chestnut-2 {
                width: 47px;
            }

            .circle-chestnut-3 {
                width: 47px;
            }

            .circle-chestnut-4 {
                width: 71px;
            }
        }
    }

}

.part_7 {
    @include padding-x();
    background-color: var(--color-main-dark);
    color: var(--color-white);

    position: relative;
    padding: 65px 5%;

    transition: 0.3s;

    .circle {
        width: 104px;
        height: 104px;
        background-color: var(--color-liz);
        border-radius: 50%;

        position: absolute;
        left: 50%;
        top: -4%;
        transform: translate(-50%);

        // animation-name: circle;
        // animation-duration: 6s;
        // animation-delay: 3s;
        // animation-timing-function: ease;
        // animation-iteration-count: infinite;
    }

    // @keyframes circle {
    //     from {
    //         left: 0%;
    //     }

    //     to {
    //         left: 50%;
    //     }
    // }

    .word {
        position: absolute;
        left: 90%;
        top: 8%;

        // animation-name: move;
        // animation-duration: 6s;
        // animation-delay: 3s;
        // animation-timing-function: ease;
        // animation-iteration-count: infinite;
    }

    // @keyframes move {
    //     from {
    //         top: 50%;
    //     }

    //     to {
    //         top: 8%;
    //     }
    // }

    #part_7_title {
        @include reset();
        @include t-title();
        text-align: center;
        position: unset;
        // margin-top: 58px;
        // margin-bottom: 40px
    }

    h3 {
        @include reset();
        @include t-title();
        width: 498px;
        margin-bottom: 20px;
    }

    // .low-cost-text {
    //     animation-name: left;
    //     animation-duration: 6s;
    //     animation-delay: 5s;
    //     animation-timing-function: ease;
    // }

    // @keyframes left {
    //     0% {
    //         transform: translateX(-300%);
    //     }

    //     100% {
    //         transform: translateX(0%);
    //     }
    // }

    p {
        @include reset();
        @include t-inner();
        width: 443px;
        margin-bottom: 20px;
    }

    .low-cost,
    .tec-transfer {
        width: 817px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        padding-top: 72px;
    }

    .low-cost-circle,
    .tec-transfer-circle,
    .son_foozi {
        border-radius: 100%;
    }

    .son_foozi {
        width: 310px;
        height: 310px;
    }

    .tec-transfer-line {
        width: 820px;
        height: 1px;
        background-color: white;

        margin: auto;
        margin-top: 24px;
    }

    .brand {
        width: 817px;
        margin: auto;

        padding-top: 72px;
    }

    .all-logo {
        width: 817px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: auto;
        padding-top: 52px;
    }
}

// part-7
@media (max-width:1024px) {
    .word {
        display: none;
    }
}

@media (max-width:930px) {

    .part_7 {
        padding: 60px 20%;

        h3 {
            @include t-title-sm();
            width: 100%;
        }

        p {
            @include t-inner-sm();
            width: 100%;
        }

        .circle,
        h1 {
            display: none;
        }

        .low-cost,
        .tec-transfer,
        .son_foozi
         {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;

            padding-top: 0px;
        }

        .low-cost-circle,
        .tec-transfer-circle,.son_foozi {
            display: none;
        }

        .low-cost-square {
            width: 100%;
            height: 160px;
            border-radius: var(--radius-sm);

            background-image: url(../img/part6/7/低成本-手機板.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .tec-transfer-square {
            width: 100%;
            height: 160px;
            border-radius: var(--radius-sm);

            background-image: url(../img/part6/7/技術轉移-手機板.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .son_foozi-square {
            width: 100%;
            height: 160px;
            border-radius: var(--radius-sm);

            background-image: url(../img/part6/7/子女獎學金.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0% 18%;
        }

        .low-cost-line {
            width: 100%;
            height: 1px;
            background-color: white;

            margin-top: 24px;
            margin-bottom: 40px;
        }

        .tec-transfer-line,
        .brand-line {
            width: 100%;
            height: 1px;
            background-color: white;

            margin-top: 24px;
        }

        .brand {
            width: 100%;
            padding-top: 40px;
        }

        .all-logo {
            width: 100%;
            display: flex;
            flex-direction: column;

            padding: 0px;
        }

        .all-logo-square {
            width: 100%;
            height: 72px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: var(--radius-sm);

            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .all-logo-image {
            height: 60%;
        }
    }
}

@media (max-width:650px) {
    .part_7 {
        padding: 60px 5%;
    }
}

.part_8 {
    @include material();
    // @include padding-x();
    background-color: var(--color-main);

    margin: auto;
    // text-align: center;
    padding: 70px 5%;
    transition: 0.3s;

    .square-group {
        display: none;
    }

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);

        text-align: center;

        // margin-bottom: 10px;
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);

        text-align: center;
    }

    .text {
        padding: 20px 0px;
    }

    .step-group {
        width: 100%;

        display: flex;
        flex-direction: column;
        padding-top: 60px;

        .step-1 {
            // width: 1045px;

            display: flex;
            align-items: center;
            justify-content: center;

            padding-right: 243px;

            .square {
                @include shadow();
                background-color: var(--color-white);
                border-radius: 24px 0px 24px 24px;

                // margin-top: 20px;
                margin-right: 10px;

                .content {
                    padding: 18px 53px;

                    h3 {
                        font-size: 36px;
                        line-height: 52px;
                        color: var(--color-liz);
                        text-align: start;

                        margin-bottom: 5px;
                    }

                    p {
                        color: var(--color-liz);
                        text-align: start;
                    }
                }
            }

            .join-icon-group {
                display: flex;
                flex-direction: column;
                align-items: center;


                .circle {
                    width: 106px;
                    height: 106px;
                    border-radius: 50%;
                    background-color: var(--color-liz);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .join-step-line {
                    width: 8px;
                    height: 130px;
                    background-color: var(--color-liz);
                    opacity: 0.5;

                    margin: auto;

                    // animation-name: line;
                }
            }

            h4 {
                @include t-title-sm();
                color: var(--color-liz);
                margin-left: 20px;
                margin-bottom: 130px;
            }
        }

        .step-2 {

            display: flex;
            align-items: center;
            justify-content: center;

            padding-left: 239px;

            h4 {
                @include t-title-sm();
                color: var(--color-liz);
                margin-right: 20px;
                margin-bottom: 148px;
            }

            .contract-icon-group {

                display: flex;
                flex-direction: column;
                align-items: center;


                .circle {
                    width: 106px;
                    height: 106px;
                    border-radius: 50%;
                    background-color: var(--color-liz);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .contract-step-line {
                    width: 8px;
                    height: 148px;
                    background-color: var(--color-liz);
                    opacity: 0.5;

                    margin: auto;
                }
            }

            .square {
                @include shadow();
                background-color: var(--color-white);
                border-radius: 0px 24px 24px 24px;

                // margin-top: 20px;
                margin-left: 10px;

                .content {
                    padding: 18px 53px;

                    h3 {
                        font-size: 36px;
                        line-height: 52px;
                        color: var(--color-liz);
                        text-align: start;

                        margin-bottom: 5px;
                    }

                    p {
                        color: var(--color-liz);
                        text-align: start;
                    }
                }
            }
        }

        .step-3 {
            display: flex;
            align-items: center;
            justify-content: center;

            padding-right: 244px;

            .square {
                @include shadow();
                background-color: var(--color-white);
                border-radius: 24px 0px 24px 24px;

                // margin-top: 20px;
                margin-right: 10px;

                .content {
                    padding: 18px 53px;

                    h3 {
                        font-size: 36px;
                        line-height: 52px;
                        color: var(--color-liz);
                        text-align: start;

                        margin-bottom: 5px;
                    }

                    p {
                        color: var(--color-liz);
                        text-align: start;
                    }
                }
            }

            .tec-icon-group {
                display: flex;
                flex-direction: column;
                align-items: center;


                .circle {
                    width: 106px;
                    height: 106px;
                    border-radius: 50%;
                    background-color: var(--color-liz);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .tec-step-line {
                    width: 8px;
                    height: 160px;
                    background-color: var(--color-liz);
                    opacity: 0.5;

                    margin: auto;
                }
            }

            h4 {
                @include t-title-sm();
                color: var(--color-liz);
                margin-left: 20px;
                margin-bottom: 160px;
            }
        }

        .step-4 {

            display: flex;
            align-items: center;
            justify-content: center;

            padding-left: 272px;

            .finish-icon-group {

                .circle {
                    width: 106px;
                    height: 106px;
                    border-radius: 50%;
                    background-color: var(--color-liz);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .finish-step-line {
                    width: 8px;
                    height: 110px;
                    // background-color: var(--color-liz);
                    // opacity: 0.5;

                    margin: auto;
                }
            }

            .square {
                @include shadow();
                background-color: var(--color-white);
                border-radius: 0px 24px 24px 24px;

                margin-left: 10px;

                .content {
                    padding: 18px 53px;

                    h3 {
                        font-size: 36px;
                        line-height: 52px;
                        color: var(--color-liz);
                        text-align: start;

                        margin-bottom: 5px;
                    }

                    p {
                        color: var(--color-liz);
                        text-align: start;
                    }
                }
            }
        }

    }

}

// part-8
@media (max-width:930px) {
    .part_8 {
        .square-group {
            display: block;
        }

        padding: 60px 20%;

        h3 {
            width: 100%;
            @include t-title-sm();
        }

        p {
            width: 100%;
            @include t-inner-sm();
        }

        .square {
            @include shadow();
            width: 100%;
            background-color: var(--color-white);
            border-radius: var(--radius-sm);

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            padding: 15px 0px;

            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--color-liz);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon-group {
                margin-right: 30px;
            }

            .icon {
                width: 24px;
                height: 24px;
                // display: block;
            }

            .content>h3,
            p {
                text-align: left;
            }

            .contact>h3 {
                margin-bottom: 5px;
            }

            .content-finish {
                padding-right: 70px;
            }
        }

        .arrow {
            width: 0px;
            height: 0px;
            border-style: solid solid solid solid;
            border-width: 17px 50px 17px 50px;
            border-color: var(--color-liz) transparent transparent transparent;

            margin: auto;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: var(--color-liz-dark);

            margin-top: 40px;
        }

        .step-group {
            display: none;
        }
    }
}

@media (max-width:650px) {
    .part_8 {
        padding: 60px 5%;
    }
}

.part_9 {
    @include material();
    // @include padding-x();
    background-color: var(--color-main);
    overflow: hidden;

    position: relative;
    padding: 90px 5%;
    transition: 0.3s;

    .word-1 {
        position: absolute;
        left: 66%;
        top: 4%;
    }

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);

        margin-bottom: 32px;
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);
    }

    .title {
        width: 826px;

        margin: auto;

        p {
            margin-bottom: 30px;
        }
    }

    .contact {
        width: 826px;

        margin: auto;
        margin-top: 40px;
    }

    .mail,
    .phone {
        width: 826px;

        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 25px;

        a {
            text-decoration: none;
        }

        p {
            font-size: 36px;
            border-bottom: 1px var(--color-liz-dark) solid;

            padding-bottom: 3px;
            margin-left: 15px;
        }
        &:hover, &:focus ,&:active{
            transform: scale(1.05);
        }
    }

    .word-2 {
        position: absolute;
        left: 66%;
        bottom: 3%;
    }

    .part9-chestnut-1 {
        width: 250px;
        opacity: 0.5;

        position: absolute;
        left: -3%;
        top: 38%;
    }

    .part9-chestnut-2 {
        width: 125px;
        opacity: 0.5;
        transform: rotate(-15deg);

        position: absolute;
        left: 9%;
        top: 67%;
    }

    .part9-chestnut-3 {
        width: 250px;
        opacity: 0.5;
        transform: rotate(-40deg);

        position: absolute;
        left: 88%;
        top: 50%;
    }
}

// part-9
@media (max-width:1315px) {

    .part9-chestnut-1,
    .part9-chestnut-2,
    .part9-chestnut-3 {
        display: none;
    }

}

@media (max-width:930px) {
    .part_9 {
        padding: 60px 20%;

        h3 {
            @include t-title-sm();
        }

        p {
            @include t-inner-sm();
        }

        .word-1,
        .word-2 {
            display: none;
        }

        .title {
            width: 100%;
        }

        .title>h3 {
            text-align: center;
        }

        .square {
            width: 100%;

            form {
                width: 100%;
                padding: 0px 60px;

                .form-control {
                    width: 100%;
                }
    
                .form-check-label {
                    @include t-inner-sm();
                }
            }
        }

      
        // 驗證碼
       .ver {
            flex-direction: column;

            .pure-control {
                width: 100%;
                margin-bottom: 15px;
                padding: 0px 10px;

                .ver-input {
                    width: 100%;
                    margin-right: 10px;
                }
            }

            .pure-controls {
                width: 50%;
            }

            .pure-button {
                @include t-inner-sm();
                width: 100%;
                margin-left: 0px;
            }
        }

        .contact {
            width: 100%;
            margin-top: 60px;
            text-align: center;
        }

        .mail,
        .phone {
            width: 100%;
            justify-content: center;

            a {
                p {
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width:720px) {
    form {
        .age-area1 {
            flex-direction: column;
            align-items: start;

            margin-bottom: 15px;

            .age-area1-1 {
                margin-bottom: 15px;
            }
        }

        .age-area2 {
            flex-direction: column;
            align-items: start;

            margin-bottom: 15px;

            .age-area2-1 {
                margin-bottom: 15px;
            }
        }

        .age-line {
            width: 100%;
            height: 1px;
            background-color: rgba(51, 51, 51, 0.5);
        }
    }
}

@media (max-width:650px) {
    .part_9 {
        padding: 60px 5%;

        // .ver-code {
        //     width: 50%;
        // }
    }
}

footer {
    background-color: var(--color-main-dark);
    color: var(--color-white);

    // margin: auto;
    text-align: center;
    padding: 40px 5%;

    h3 {
        @include reset();
        @include t-title();
        font-size: 18px;
        letter-spacing: 0.2em;

        margin-left: 10px;
    }

    .brand-name {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }

    p {
        @include reset();
        @include t-inner();
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.3em;
    }

    .maker {
        font-size: 8px;
        margin-top: 60px;
    }

}