@import 'sheet';

// RWD都還要再調

.part_5 {

    @media (max-width: 1062px) {
        position: relative;
    }

    picture {
        width: 100%;
    }

    img {
        vertical-align: top;

    }

    .product_list {
        // width: 100%;
        // height: 50vh;
        // overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1062px) {
            display: block;
        }

        .product_content {
            // border: 1px solid black;
            padding: 0 5%;

            width: 1045px;
            height: 100%;
            position: absolute;

            display: flex;

            z-index: 1;

            justify-content: center;
            align-items: center;



            @media (max-width: 1062px) {
                position: unset;

                padding: 0 0;


                width: 100%;
                height: 200px;

                background-color: var(--color-main-dark);

                text-align: center;
                display: flex;
                flex-direction: column-reverse;

                &.content2 {
                    flex-direction: column;
                }
            }



            .info {
                width: 33.33%;
                height: 100%;

                display: flex;
                align-items: center;

                @include t-inner;
                color: var(--color-white);
                width: 348px;
                height: 102px;

                text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

                @media (max-width: 1300px) {
                    font-size: var(--fz-inner-sm);
                }

                @media (max-width: 576px) {
                    @include t-inner-sm;
                    text-shadow: var(--shadow);
                }
            }

            .product_name {
                width: 33.33%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                writing-mode: vertical-lr;

                @include t-title;
                color: var(--color-white);
                text-shadow: var(--shadow);
                line-height: 69px;
                font-weight: 700;
                letter-spacing: 0.4em;

                &::after {
                    position: absolute;
                    margin-left: -140px;
                    margin-top: -180px;
                    width: 24px;
                    height: 81px;
                    content: " ";
                    background-image: url(../img/part5/1_糖炒栗子日文標.svg);
                    background-size: cover;


                    z-index: 10;

                    @media (max-width: 1300px) {
                        margin-left: -100px;
                        margin-top: -90px;
                    }

                    @media (max-width: 1062px) {

                        margin-left: 0px;
                        margin-top: 0px;
                        left: 30%;
                        top: 10%;
                    }

                    @media (max-width: 600px) {
                        width: 18px;
                        height: 61px;
                    }


                }


                img {
                    position: absolute;
                    top: 184px;
                    right: 450px;
                }


                @media (max-width: 1300px) {
                    font-size: var(--fz-title-sm);
                }

                @media (max-width: 1062px) {
                    height: auto;
                    writing-mode: horizontal-tb;
                    letter-spacing: 0.1em;
                }

                @media (max-width: 576px) {
                    width: 100%;
                    @include t-title-sm;

                }
            }

            .product_pic {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.33%;

                img {
                    @media (max-width: 1300px) {
                        width: 80%;
                    }
                }

                @media (max-width: 1062px) {
                    position: absolute;
                    top: 30px;

                    // 還要調整
                    &.pic3 {
                        width: 30%;
                        top: 5px;
                    }
                }

                @media (max-width: 576px) {
                    &.pic3 {
                        width: 30%;
                        top: 0px;
                    }
                }

            }
        }


    }
}