@import 'sheet';

.part_6{
    @include material();
    background-color: var(--color-main);

    margin: auto;
    text-align: center;
    padding: 70px 0px;

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);

        margin-bottom: 20px;
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);
    }
}

.part_7 {
    background-color: var(--color-main-dark);
    // height: var(--section-height);
    color: var(--color-white);

    position: relative;
    padding: 65px 0px;

    .circle {
        width: 104px;
        height: 104px;
        background-color: var(--color-liz);
        border-radius: 50%;

        position: absolute;
        left: 50%;
        top: -4%;
        transform: translate(-50%);
    }

    .word {
        position: absolute;
        left: 90%;
        top: 8%;
        // transform: translate(-50%);
    }

    h1 {
        @include reset();
        @include t-title();
        text-align: center;
        // margin-top: 58px;
        // margin-bottom: 40px
    }

    h3 {
        @include reset();
        @include t-title();
        width: 498px;
        margin-bottom: 20px;
    }

    p {
        @include reset();
        @include t-inner();
        width: 443px;
        margin-bottom: 20px;
    }

    .low-cost,
    .tec-transfer {
        width: 817px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        padding-top: 72px;
    }

    .circular {
        border-radius: 50%;
    }

    .line {
        width: 820px;
        height: 1px;
        background-color: white;

        margin: auto;
        margin-top: 24px;
    }

    .brand {
        width: 817px;
        margin: auto;

        padding-top: 72px;
    }

    .all-logo {
        width: 817px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: auto;
        padding-top: 52px;

    }
}

.part_8{
    @include material();
    background-color: var(--color-main);

    margin: auto;
    text-align: center;
    padding: 70px 0px;

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);

        margin-bottom: 20px;
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);
        
    }
}

.part_9 {
    @include material();
    background-color: var(--color-main);

    position: relative;
    padding: 90px 0px;

    overflow:hidden;

    .word-1 {
        position: absolute;
        left: 66%;
        top: 4%;
    }

    h3 {
        @include reset();
        @include t-title();
        color: var(--color-liz-dark);

        margin-bottom: 32px;
    }

    p {
        @include reset();
        @include t-inner();
        color: var(--color-liz-dark);
    }

    .title {
        width: 826px;

        margin: auto;

        p {
            margin-bottom: 30px;
        }
    }

    .square {
        @include shadow();
        width: 826px;
        background-color: #F8F8F8;
        border-radius: var(--radius);

        margin: auto;
        padding: 22px 0px;
        // text-align: center;
    }

    form {
        width: 440px;
        margin: auto;

        p {
            margin: 10px 0px;
        }

        .form-check-input {
            width: 24px;
            height: 24px;
            border: 2px;
            border-color: var(--color-liz-dark);
        }

        .form-check-label {
            @include reset();
            @include t-inner();
            color: var(--color-liz-dark);

            margin-left: 12px;
        }

        .age-area1 {
            display: flex;
            align-items: center;

            margin-bottom: 15px;

            .age-area1-2 {
                margin-left: 69px;
            }
        }

        .age-area2 {
            display: flex;
            align-items: center;

            .age-area1-2 {
                margin-left: 50px;
            }
        }

        // 驗證碼

        fieldset{
            display: flex;
            align-items: center;
        }

        .pure-control {
            width: 265px;
            height: 50px;
            background-color:#ecb99c ;
            border-radius: 4px;
            // opacity: .2;

            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #mycanvas {
            cursor: pointer;
            text-align: center;

            border-radius: 4px;
            // margin-left: 10px;
        }

        #myvad {
            width: 100px;
            height: 35px;
            border: 1px solid #C4C4C4;
            border-radius: 4px;

            padding: 0px;
        }

        .pure-button{
            @include t-inner();
            width: 170px;
            height: 50px;
            border: none;
            border-radius: 4px;
            background-color: var(--color-liz);
            color: white;

            margin-left: 15px;
        }
    }

    .line-1{
        width: 826px;
        height: 2px;
        background-color: var(--color-liz-dark);

        margin: auto;
        margin-top: 60px;
    }

    .contact{
        width: 826px;
        
        margin: auto;
        margin-top: 40px;
    }

    .mail{
        width: 826px;

        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 25px;   

        p{
            font-size: 36px;
            border-bottom:1px  var(--color-liz-dark) solid; 

            padding-bottom:3px;
            margin-left: 20px;
        }
    }

    .phone{
        width: 826px;

        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 25px;

        p{
            font-size: 36px;
            border-bottom:1px  var(--color-liz-dark) solid; 

            padding-bottom:3px;
            margin-left: 10px;
        }
    }

    .word-2 {
        position: absolute;
        left: 66%;
        bottom: 3%;
    }

    .chestnut-1{
        width: 250px;
        opacity: 0.5;

        position: absolute;
        left: -3%;
        top: 38%;
    }

    .chestnut-2{
        width: 120px;
        opacity: 0.5;
        transform: rotate(-15deg);

        position: absolute;
        left: 9%;
        top: 67%;
    }

    .chestnut-3{
        width: 250px;
        opacity: 0.5;
        transform: rotate(-40deg);

        position: absolute;
        left: 88%;
        top: 50%;
    }
}

footer {
    background-color: var(--color-main-dark);
    // height: var(--section-height);
    color: var(--color-white);

    // margin: auto;
    text-align: center;
    padding: 40px 0px;

    h3 {
        @include reset();
        @include t-title();
        font-size: 18px;
        letter-spacing: 0.2em;

        margin-left: 10px;
    }

    .brand-name {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }

    p {
        @include reset();
        @include t-inner();
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.3em;
    }

    .maker {
        font-size: 8px;
        margin-top: 60px;
    }

}