@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --body-padding: 5%;
  --section-height:100vh;
  --radius: 24px;
  --radius-sm: 8px;
  --color-main: #F1CE56;
  --color-main-dark: #333;
  --color-white: #fff;
  --color-liz: #C2724A;
  --color-liz-dark: #B04B19;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fz-title: 48px;
  --fz-title-sm:32px;
  --fz-inner: 18px;
  --fz-inner-sm: 16px;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-main);
}

a {
  text-decoration: none;
}

* {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html, body {
  overflow-x: hidden;
}

.spacer {
  width: 100%;
  height: 100vh;
  background-color: var(--color-main);
  background-image: url("../img/metrila.svg");
  background-size: cover;
}

.spacer2 {
  width: 100%;
  height: 50vh;
  background-color: var(--color-main);
  background-image: url("../img/metrila.svg");
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  background-color: var(--color-main);
  background-image: url("../img/metrila.svg");
  background-size: cover;
}

.wrapper.part_3 {
  z-index: 10;
}

.back {
  position: absolute;
  width: 3000px;
  height: 3000px;
  background-color: var(--color-main-dark);
  border-radius: 100%;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: none;
}

@media (max-width: 780px) {
  .back {
    -webkit-transform: translateY(-17.5%);
            transform: translateY(-17.5%);
  }
}

.part_3 {
  width: 100%;
  height: 150vh;
  overflow: hidden;
  position: absolute;
  z-index: 3;
}

.partner_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5%;
  position: absolute;
}

@media (max-width: 780px) {
  .partner_title {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 3.5%;
  }
}

@media (max-width: 600px) {
  .partner_title {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-top: 15%;
  }
}

.container {
  margin: 0 auto;
  height: 100vh;
  padding-bottom: -15%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 600px) {
  .container {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

.circle-carousel {
  position: relative;
  padding-top: 100%;
  height: 100vh;
}

.circle-carousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-carousel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 34%;
  top: 668px;
  left: 33%;
  z-index: 0;
  opacity: 0;
  color: var(--color-white);
}

@media (max-width: 992px) {
  .circle-carousel .slide {
    width: 64%;
    left: 18%;
  }
}

.circle-carousel .slide.active {
  z-index: 1;
  opacity: 1;
}

.circle-carousel .slide.active h2, .circle-carousel .slide.active p {
  -webkit-animation: slides 0.4s ease-in-out;
          animation: slides 0.4s ease-in-out;
}

@-webkit-keyframes slides {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes slides {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.circle-carousel .slide.active .title_names, .circle-carousel .slide.active .title_pics {
  -webkit-animation: title_names 0.4s ease-in-out;
          animation: title_names 0.4s ease-in-out;
}

@-webkit-keyframes title_names {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes title_names {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.circle-carousel .slide.active .title_pics {
  width: 500px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  top: -500px;
}

.circle-carousel .slide.active .decorate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: -40px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.circle-carousel .slide.active .decorate img {
  width: 180px;
}

.circle-carousel .slide.active .decorate.ele_scale {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 20px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.circle-carousel .slide.active .decorate.booth {
  margin-top: -50px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.circle-carousel .slide.active .decorate.liz_box {
  margin-top: -70px;
}

.circle-carousel .slide.active #mr_chen_machine {
  margin-right: -50px;
  margin-top: 25px;
  -webkit-transform: rotate(-15deg) scaleX(-1);
          transform: rotate(-15deg) scaleX(-1);
}

.circle-carousel .slide.active .stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 36px;
}

.circle-carousel .slide.active .stores img {
  width: 180px;
}

.circle-carousel .slide.active .stores.ms_chang_store {
  margin-top: 98px;
}

.circle-carousel .slide.active .stores.mr_huang_store {
  margin-top: 120px;
}

.circle-carousel .slide.active .stores.mr_chen_store {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 10px;
}

.circle-carousel .slide.active .stores.mr_dung_store {
  margin-top: 170px;
}

.circle-carousel .slide .title_names {
  position: absolute;
  z-index: 10;
  top: -60%;
  width: auto;
  height: auto;
  text-align: center;
  padding: 0 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: block;
  font-size: 40px;
}

@media (max-width: 1260px) {
  .circle-carousel .slide .title_names {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .circle-carousel .slide .title_names {
    font-size: 24px;
  }
}

.circle-carousel .slide h2 {
  margin-top: 28px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-white);
  text-align: center;
}

@media (max-width: 992px) {
  .circle-carousel .slide h2 {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
  }
}

.circle-carousel .slide p {
  margin-top: -5px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-white);
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .circle-carousel .slide p {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
  }
}

.flowHidden {
  -webkit-transform-origin: top;
          transform-origin: top;
  position: absolute;
  top: 1800px;
  left: 50%;
}

.pagination {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 3200px;
  height: 3200px;
  border-radius: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 303px;
  height: 529px;
  pointer-events: auto;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: var(--radius);
  background-color: white;
  -webkit-filter: grayscale(100%) contrast(70%);
          filter: grayscale(100%) contrast(70%);
}

.pagination .dot:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.02);
          transform: translate(-50%, -50%) scale(1.02);
  cursor: pointer;
}

.pagination .dot .partner_pic {
  border-radius: var(--radius);
  width: 303px;
  height: 529px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.pagination .item.active .dot {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
}

.title_names {
  position: absolute;
  z-index: 1500;
  width: 200px;
  height: 50px;
  background-color: black;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: none;
}

.title_pics {
  -webkit-transform: scale(1);
          transform: scale(1);
  display: none;
}

.no_content {
  width: 100%;
  height: 250vh;
  background-color: aqua;
}
/*# sourceMappingURL=part3.css.map */