@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --body-padding: 5%;
  --section-height:100vh;
  --radius: 24px;
  --radius-sm: 8px;
  --color-main: #F1CE56;
  --color-main-dark: #333;
  --color-white: #fff;
  --color-liz: #C2724A;
  --color-liz-dark: #B04B19;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fz-title: 48px;
  --fz-title-sm:32px;
  --fz-inner: 18px;
  --fz-inner-sm: 16px;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-main);
  background-image: url("../img/metrila.svg");
  background-size: cover;
}

* {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.spacer {
  width: 100vw;
  height: 100vh;
}

.spacer2 {
  width: 100%;
  height: 50vh;
}

.wrapper {
  height: 250vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  color: var(--color-white);
}

.wrapper.part_3 {
  z-index: 1000;
}

.back {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--color-main-dark);
  border-radius: 500px;
  z-index: 1;
}

.part_3 {
  width: 100%;
  height: 120vh;
  overflow: hidden;
  position: absolute;
  z-index: 3;
}

.partner_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  position: absolute;
}

@media (max-width: 780px) {
  .partner_title {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 3.5%;
  }
}

@media (max-width: 600px) {
  .partner_title {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-top: 4%;
  }
}

.container {
  margin: 0 auto;
  height: 100vh;
  padding-bottom: -15%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 600px) {
  .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.circle-carousel {
  position: relative;
  padding-top: 100%;
  height: 100vh;
}

.circle-carousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-carousel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  top: 668px;
  left: 30%;
  z-index: 0;
  opacity: 0;
  color: var(--color-white);
}

.circle-carousel .slide.active {
  z-index: 1;
  opacity: 1;
}

.circle-carousel .slide p {
  margin-top: -5px;
  text-align: center;
}

.circle-carousel .flowHidden {
  -webkit-transform-origin: top;
          transform-origin: top;
  position: absolute;
  top: 1800px;
  left: 50%;
}

.circle-carousel .pagination {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 3200px;
  height: 3200px;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circle-carousel .pagination .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 303px;
  height: 529px;
  pointer-events: auto;
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(0, 0, 0, 0);
  border: 1px solid black;
}

.circle-carousel .pagination .dot:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.01);
          transform: translate(-50%, -50%) scale(1.01);
  cursor: pointer;
  background: white;
  color: black;
}

.circle-carousel .pagination .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle-carousel .pagination .item.active .dot {
  background: white;
  color: black;
}

.circle-carousel .next,
.circle-carousel .prev {
  position: absolute;
  bottom: 6%;
  z-index: 1;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .3em;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circle-carousel .next:before,
.circle-carousel .prev:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-color: transparent black;
  -webkit-transition: .3s;
  transition: .3s;
}

.circle-carousel .next:hover,
.circle-carousel .prev:hover {
  cursor: pointer;
  color: black;
}

.circle-carousel .next:hover:before,
.circle-carousel .prev:hover:before {
  border-color: transparent white;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
}

.no_content {
  width: 100%;
  height: 250vh;
  background-color: aqua;
}
/*# sourceMappingURL=part3.css.map */