.part_4 {

    height: var(--section-height);
    background-color: var(--color-main);
    @include material;
    @include padding-x;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5% 10% 0 10% ;

    overflow-x: hidden;

    position: relative;

    @media (max-width: 1200px) {
        padding: 44px 10% ;
        height: 100%;
        
    }

    @media (max-width: 768px) {
        padding: 44px 10% ;
    }

    .part4_title {
        @include t-title;
        text-align: center;
        position: absolute;
        top:5%;
        color: var(--color-liz-dark);

        @media (max-width: 1200px) {
            top: 1%;
        }

        @media (max-width: 768px) {
            @include t-title-sm;
        }
    }

    .line {
        width: 540px;
        height: 1px;
        background-color: var(--color-liz-dark);

        position: absolute;
        top:14%;
        @media (max-width: 1200px) {
            top: 5%;
        }

        @media (max-width: 768px) {
            width: 270px;
            top: 3.5%;

        }
    }



    .brandInsist {
        width: 1400px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;

            width: 100%;
            height: 100%;

            margin-top: 10%;
        }



        .brandInsist_card {
            width: calc(33.33% - 24px);
            background-color: var(--color-white);
            @include material;

            border-radius: 24px;
            padding: 90px 64px 143px 64px;

            transform: translate(2000px, 0);

            @media (max-width: 1400px) {
                height: 0;

                padding: 88px 40px 144px 40px;
                padding-bottom: 50%;
            }

            @media (max-width: 1200px) {
                width: calc(450px - 40px);
                height: auto;

                margin: 20px 36px 0 36px;
                padding: 88px 64px 144px 64px;
                transform: translate(0, 0);

            }

            @media (max-width: 768px) {
                width: calc(450px - 40px);
                margin: 20px 16px 0px 16px;

            }

            @media (max-width: 576px) {
                width: calc(450px - 40px);
                margin: 20px 16px 0 16px;

            }

            @media (max-width: 450px) {
                width: 100%;
                max-height: 100%;
                margin: 20px 16px 0 16px;
                padding: 52px 52px 144px 52px;

            }

            .title {
                // background-color: aqua;
                width: 100%;
                height: 160px;

                position: relative;
                margin-bottom: 72px;

                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 1400px) {
                    height: 120px;
                    margin-bottom: 60px;
                }

                @media (max-width: 1200px) {
                    height: 160px;
                    margin-bottom: 72px;
                }

                @media (max-width: 450px) {
                    height: 160px;
                    margin-bottom: 56px;
                }


                .title_num {
                    margin-top: -30px;

                    text-shadow: 2px 2px rgba(0, 0, 0, 0.5), -2px -2px rgba(0, 0, 0, 0.5), 2px -2px rgba(0, 0, 0, 0.5), -2px 2px rgba(0, 0, 0, 0.5);
                    color: white;
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 200px;
                    opacity: 0.1;

                }

                .title_name {
                    @include t-title;
                    color: var(--color-main-dark);

                    position: absolute;

                    @media (max-width: 1400px) {
                        font-size: var(--fz-title-sm);      
                    }

                    @media (max-width: 1200px) {

                        font-size: var(--fz-title-sm);      
                
                    }

                }
            }

            .content {
                padding: 0px 5px;

                width: 100%;
                height: 180px;

                @include t-inner;
                color: var(--color-main-dark);
                width: 100%;

                font-weight: 700;
                line-height: 30px;

                letter-spacing: 0.1em;
                @media (max-width: 1400px) {
                    font-size: var(--fz-inner-sm);
                }

                @media (max-width: 1200px) {
                    font-size: var(--fz-inner-sm);
                }

                @media (max-width: 450px) {
                    padding: 0px 0px;
                }
            }
        }
    }

}