section.part_2 {
    width: 100%;
    @include material;
    background-color: var(--color-main);

    padding-left: 5%;
    padding-right: 5%;
    @media (max-width:1280px) {
        padding-top:100px;  
    }
    @media (max-width:700px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    content {
        display: flex;
        align-items: center;

        padding-top: 200px;
        padding-bottom: 200px;
        



        @media (max-width:900px) {
            flex-direction: column;
            padding-top: 0px;
            padding-bottom: 80px;
        }

        .pic_area {

            @include wh(400px, 400px);
            min-width: 400px;
            border-radius: 100%;
            background-color: #333;
            margin-right: 32px;
            overflow:hidden;
            box-shadow: var(--shadow);

            display: flex;
            align-items: center;
            justify-content: center;
            
            .mySlides{
                display: none;
                // height: 100%;
                width: 100%;
                margin: 0px;
            }

            @media (max-width :900px) {
                @include wh(250px, 250px);
                min-height: 250px;
                min-width: 250px;
                margin-right: 0px;
                margin-bottom: 32px;

            }
        }

        .text_area {
            border-radius: var(--radius);
            background-color: rgba(255, 255, 255, 0.2);     
            padding: 16px;
            .title {
                display: flex;
                    align-items: center;
                @include t-title;
                color: var(--color-liz-dark);
                border-bottom: 1px solid #c2724a7e;

                @media (max-width:650px) {
                    @include t-title-sm;   
                    padding-bottom:4px;                 
                }

                .logo{
                    display: flex;
                    align-items: center;
                    svg{
                        width: 50px;
                        margin-right: 12px;
                    }
                }
            }

            .second {
                @include t-inner;
                color: var(--color-main-dark);
                margin: 0px;
                margin-top: 18px;
                @media (max-width:650px) {
                    @include t-inner-sm                    
                }
            }

            .inner {
                @include t-inner;
                color: var(--color-liz-dark);
                @media (max-width:650px) {
                    @include t-inner-sm                    
                }
            }
        }
    }




}