@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --body-padding: 5%;
  --section-height:100vh;
  --radius: 24px;
  --radius-sm: 8px;
  --color-main: #F1CE56;
  --color-main-dark: #333;
  --color-white: #fff;
  --color-liz: #C2724A;
  --color-liz-dark: #B04B19;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fz-title: 48px;
  --fz-title-sm:32px;
  --fz-inner: 18px;
  --fz-inner-sm: 16px;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-main);
}

a {
  text-decoration: none;
}

.part_6 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--color-main);
  text-align: center;
  overflow: hidden;
  position: relative;
  padding-top: 420px;
  padding-bottom: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.part_6 .circle-behind {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-image: url(../img/part6/6/White-in-Jumper10.png);
  background-repeat: no-repeat;
  background-position: center bottom 180%;
  background-color: rgba(255, 0, 0, 0.2);
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -15%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.part_6 .circle-behind .circle-chestnut-1 {
  width: 270px;
  opacity: 0.9;
  position: absolute;
  left: 50%;
  bottom: -15%;
  -webkit-transform: translate(-50%, 0%) rotate(-20deg);
          transform: translate(-50%, 0%) rotate(-20deg);
}

.part_6 .circle-behind .circle-chestnut-2 {
  width: 90px;
  opacity: 0.5;
  position: absolute;
  left: 14%;
  bottom: 20%;
}

.part_6 .circle-behind .circle-chestnut-3 {
  width: 90px;
  opacity: 0.5;
  position: absolute;
  left: 75%;
  bottom: 12%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.part_6 .circle-behind .circle-chestnut-4 {
  width: 120px;
  opacity: 0.5;
  position: absolute;
  left: 83%;
  bottom: 28%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.part_6 .circle-behind .circle-front {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: rgba(255, 115, 0, 0.4);
  mix-blend-mode: screen;
  overflow: hidden;
}

.part_6 .circle-behind .circle-front h3 {
  color: white;
  text-align: center;
  margin-top: 600px;
}

.part_6 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
}

.part_6 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}

.part_6 .text {
  width: 540px;
  margin: auto;
  margin-top: 200px;
}

.part_6 .card-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px;
}

.part_6 .card-area .square {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  width: 280px;
  height: 159px;
  border: 4px solid #C2724A;
  border-radius: var(--radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px;
}

.part_6 .card-area .square .title {
  margin-top: 10px;
}

.part_6 .line {
  width: 540px;
  height: 1px;
  background-color: var(--color-liz-dark);
  margin: auto;
  margin-bottom: 20px;
}

.part_6 .chestnut-1 {
  width: 250px;
  opacity: 0.5;
  position: absolute;
  left: -3%;
  top: 46%;
}

.part_6 .chestnut-2 {
  width: 125px;
  opacity: 0.5;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  left: 9%;
  top: 85%;
}

.part_6 .chestnut-3 {
  width: 250px;
  opacity: 0.5;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  position: absolute;
  left: 88%;
  top: 60%;
}

@media (max-width: 1620px) {
  .chestnut-2 {
    display: none;
  }
}

@media (max-width: 1580px) {
  .chestnut-3 {
    display: none;
  }
}

@media (max-width: 1315px) {
  .chestnut-1 {
    display: none;
  }
}

@media (max-width: 930px) {
  .part_6 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 335px;
  }
  .part_6 .circle-behind {
    width: 600px;
    height: 600px;
    background-size: 1296px 739px;
    top: -12%;
  }
  .part_6 .circle-behind .circle-front {
    width: 600px;
    height: 600px;
  }
  .part_6 .circle-behind .circle-front h3 {
    margin-top: 525px;
  }
  .part_6 .circle-behind .circle-chestnut-1 {
    width: 231px;
  }
  .part_6 .circle-behind .circle-chestnut-2 {
    width: 77px;
  }
  .part_6 .circle-behind .circle-chestnut-3 {
    width: 77px;
  }
  .part_6 .circle-behind .circle-chestnut-4 {
    width: 103px;
  }
  .part_6 h3 {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title-sm);
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.1em;
    width: 100%;
  }
  .part_6 p {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
    width: 100%;
  }
  .part_6 .text {
    width: 100%;
  }
  .part_6 .card-area {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 35px 0px;
  }
  .part_6 .card-area .square {
    width: 48%;
    margin: 10px 0px;
  }
  .part_6 .line {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .part_6 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 260px;
  }
  .part_6 .circle-behind {
    width: 500px;
    height: 500px;
    background-size: 1080px 616px;
    top: -8%;
  }
  .part_6 .circle-behind .circle-front {
    width: 500px;
    height: 500px;
  }
  .part_6 .circle-behind .circle-front h3 {
    margin-top: 435px;
  }
  .part_6 .circle-behind .circle-chestnut-1 {
    width: 193px;
  }
  .part_6 .circle-behind .circle-chestnut-2 {
    width: 64px;
  }
  .part_6 .circle-behind .circle-chestnut-3 {
    width: 64px;
  }
  .part_6 .circle-behind .circle-chestnut-4 {
    width: 86px;
  }
  .part_6 .card-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part_6 .card-area .square {
    width: 100%;
    height: 120px;
    margin: 10px 0px;
  }
  .part_6 .line {
    display: none;
  }
}

@media (max-width: 520px) {
  .part_6 {
    padding-top: 150px;
  }
  .part_6 .circle-behind {
    width: 365px;
    height: 365px;
    background-size: 788px 450px;
    top: -6%;
  }
  .part_6 .circle-behind .circle-front {
    width: 365px;
    height: 365px;
  }
  .part_6 .circle-behind .circle-front h3 {
    font-size: 22px;
    margin-top: 312px;
  }
  .part_6 .circle-behind .circle-chestnut-1 {
    width: 141px;
  }
  .part_6 .circle-behind .circle-chestnut-2 {
    width: 47px;
  }
  .part_6 .circle-behind .circle-chestnut-3 {
    width: 47px;
  }
  .part_6 .circle-behind .circle-chestnut-4 {
    width: 71px;
  }
}

.part_7 {
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--color-main-dark);
  color: var(--color-white);
  position: relative;
  padding: 65px 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.part_7 .circle {
  width: 104px;
  height: 104px;
  background-color: var(--color-liz);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -4%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.part_7 .word {
  position: absolute;
  left: 90%;
  top: 8%;
}

.part_7 h1 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-align: center;
}

.part_7 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  width: 498px;
  margin-bottom: 20px;
}

.part_7 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  width: 443px;
  margin-bottom: 20px;
}

.part_7 .low-cost,
.part_7 .tec-transfer {
  width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 72px;
}

.part_7 .low-cost-circle,
.part_7 .tec-transfer-circle {
  border-radius: 50%;
}

.part_7 .tec-transfer-line {
  width: 820px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 24px;
}

.part_7 .brand {
  width: 817px;
  margin: auto;
  padding-top: 72px;
}

.part_7 .all-logo {
  width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 52px;
}

@media (max-width: 1024px) {
  .word {
    display: none;
  }
}

@media (max-width: 930px) {
  .part_7 {
    padding: 60px 20%;
  }
  .part_7 h3 {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title-sm);
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.1em;
    width: 100%;
  }
  .part_7 p {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
    width: 100%;
  }
  .part_7 .circle,
  .part_7 h1 {
    display: none;
  }
  .part_7 .low-cost,
  .part_7 .tec-transfer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 0px;
  }
  .part_7 .low-cost-circle,
  .part_7 .tec-transfer-circle {
    display: none;
  }
  .part_7 .low-cost-square {
    width: 100%;
    height: 160px;
    border-radius: var(--radius-sm);
    background-image: url(../img/part6/7/低成本-手機板.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .part_7 .tec-transfer-square {
    width: 100%;
    height: 160px;
    border-radius: var(--radius-sm);
    background-image: url(../img/part6/7/技術轉移-手機板.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .part_7 .low-cost-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .part_7 .tec-transfer-line,
  .part_7 .brand-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
  }
  .part_7 .brand {
    width: 100%;
    padding-top: 40px;
  }
  .part_7 .all-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .part_7 .all-logo-square {
    width: 100%;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: var(--radius-sm);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .part_7 .all-logo-image {
    height: 60%;
  }
}

@media (max-width: 650px) {
  .part_7 {
    padding: 60px 5%;
  }
}

.part_8 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  margin: auto;
  padding: 70px 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.part_8 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
  text-align: center;
}

.part_8 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
  text-align: center;
}

.part_8 .text {
  padding: 20px 0px;
}

.part_8 .icon {
  display: none;
}

.part_8 .join-circle {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: var(--color-liz);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .part_8 {
    padding: 60px 5%;
  }
  .part_8 h3 {
    width: 100%;
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title-sm);
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }
  .part_8 p {
    width: 100%;
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
  }
  .part_8 .square {
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
    padding: 15px 0px;
  }
  .part_8 .square .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-liz);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .part_8 .square .icon-group {
    margin-right: 30px;
  }
  .part_8 .square .icon {
    width: 24px;
    height: 24px;
    display: block;
  }
  .part_8 .square .content > h3,
  .part_8 .square p {
    text-align: left;
  }
  .part_8 .square .contact > h3 {
    margin-bottom: 5px;
  }
  .part_8 .square .content-finish {
    padding-right: 70px;
  }
  .part_8 .arrow {
    width: 0px;
    height: 0px;
    border-style: solid solid solid solid;
    border-width: 17px 50px 17px 50px;
    border-color: var(--color-liz) transparent transparent transparent;
    margin: auto;
  }
  .part_8 .line {
    width: 100%;
    height: 1px;
    background-color: var(--color-liz-dark);
    margin-top: 40px;
  }
}

.part_9 {
  background-image: url("../img/metrila.svg");
  background-size: cover;
  background-color: var(--color-main);
  overflow: hidden;
  position: relative;
  padding: 90px 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.part_9 .word-1 {
  position: absolute;
  left: 66%;
  top: 4%;
}

.part_9 h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: var(--color-liz-dark);
  margin-bottom: 32px;
}

.part_9 p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
}

.part_9 .title {
  width: 826px;
  margin: auto;
}

.part_9 .title p {
  margin-bottom: 30px;
}

.part_9 .square {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  width: 826px;
  background-color: var(--color-white);
  border-radius: var(--radius);
  margin: auto;
  padding: 22px 0px;
}

.part_9 form {
  width: 440px;
  margin: auto;
}

.part_9 form p {
  margin: 10px 0px;
}

.part_9 form .form-check-input {
  width: 24px;
  height: 24px;
  border: 2px;
  border-color: var(--color-liz-dark);
}

.part_9 form .form-check-label {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  color: var(--color-liz-dark);
  margin-left: 12px;
}

.part_9 form .age-area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.part_9 form .age-area1 .age-area1-1 {
  margin-right: 69px;
}

.part_9 form .age-area2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part_9 form .age-area2 .age-area2-1 {
  margin-right: 50px;
}

.part_9 form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part_9 form .pure-control {
  width: 265px;
  height: 50px;
  background-color: #ecb99c;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.part_9 form #mycanvas {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.part_9 form #myvad {
  width: 100px;
  height: 35px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  padding: 0px;
}

.part_9 form .pure-button {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-liz);
  color: white;
  margin-left: 15px;
}

.part_9 .line-1 {
  width: 826px;
  height: 2px;
  background-color: var(--color-liz-dark);
  margin: auto;
  margin-top: 60px;
}

.part_9 .contact {
  width: 826px;
  margin: auto;
  margin-top: 40px;
}

.part_9 .mail,
.part_9 .phone {
  width: 826px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 25px;
}

.part_9 .mail a,
.part_9 .phone a {
  text-decoration: none;
}

.part_9 .mail p,
.part_9 .phone p {
  font-size: 36px;
  border-bottom: 1px var(--color-liz-dark) solid;
  padding-bottom: 3px;
  margin-left: 15px;
}

.part_9 .word-2 {
  position: absolute;
  left: 66%;
  bottom: 3%;
}

.part_9 .part9-chestnut-1 {
  width: 250px;
  opacity: 0.5;
  position: absolute;
  left: -3%;
  top: 38%;
}

.part_9 .part9-chestnut-2 {
  width: 125px;
  opacity: 0.5;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  left: 9%;
  top: 67%;
}

.part_9 .part9-chestnut-3 {
  width: 250px;
  opacity: 0.5;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  position: absolute;
  left: 88%;
  top: 50%;
}

@media (max-width: 1315px) {
  .part9-chestnut-1,
  .part9-chestnut-2,
  .part9-chestnut-3 {
    display: none;
  }
}

@media (max-width: 930px) {
  .part_9 {
    padding: 60px 20%;
  }
  .part_9 h3 {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title-sm);
    line-height: 46px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }
  .part_9 p {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
  }
  .part_9 .word-1,
  .part_9 .word-2 {
    display: none;
  }
  .part_9 .title {
    width: 100%;
  }
  .part_9 .title > h3 {
    text-align: center;
  }
  .part_9 .square {
    width: 100%;
  }
  .part_9 form {
    width: 100%;
    padding: 0px 60px;
  }
  .part_9 form .form-check-label {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
  }
  .part_9 fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part_9 fieldset .pure-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 10px;
  }
  .part_9 fieldset #myvad {
    width: 100%;
    margin-right: 10px;
  }
  .part_9 fieldset .pure-controls {
    width: 50%;
  }
  .part_9 fieldset .pure-button {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
    width: 100%;
    margin: 0px;
  }
  .part_9 .line-1 {
    display: none;
  }
  .part_9 .contact {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  .part_9 .mail,
  .part_9 .phone {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part_9 .mail a p,
  .part_9 .phone a p {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  form .age-area1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 15px;
  }
  form .age-area1 .age-area1-1 {
    margin-bottom: 15px;
  }
  form .age-area2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 15px;
  }
  form .age-area2 .age-area2-1 {
    margin-bottom: 15px;
  }
  form .age-line {
    width: 100%;
    height: 1px;
    background-color: rgba(51, 51, 51, 0.5);
  }
}

@media (max-width: 650px) {
  .part_9 {
    padding: 60px 5%;
  }
  .part_9 #mycanvas {
    width: 50%;
  }
}

footer {
  background-color: var(--color-main-dark);
  color: var(--color-white);
  text-align: center;
  padding: 40px 5%;
}

footer h3 {
  margin: 0px;
  padding: 0px;
  /* Title */
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-title);
  line-height: 69px;
  /* identical to box height */
  letter-spacing: 0.1em;
  font-size: 18px;
  letter-spacing: 0.2em;
  margin-left: 10px;
}

footer .brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer p {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-inner);
  line-height: 147.7%;
  /* identical to box height, or 27px */
  letter-spacing: 0.2em;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
}

footer .maker {
  font-size: 8px;
  margin-top: 60px;
}
/*# sourceMappingURL=part6.css.map */