@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
:root {

    --body-padding: 5%;
    --section-height:100vh;
    

    --radius: 24px;
    --radius-sm: 8px;

    --color-main: #F1CE56;
    --color-main-dark: #333;
    --color-white: #fff;

    --color-liz: #C2724A;
    --color-liz-dark: #B04B19;

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    // text-size
    --fz-title: 48px;
    --fz-title-sm:32px;

    --fz-inner: 18px;
    --fz-inner-sm: 16px;
}
// 材質
@mixin material {
    background-image: url("../img/metrila.svg");
    background-size: cover;
}
// 用法 @include material;
@mixin padding-x {
    padding-left: 5%;
    padding-right: 5%;
}

@mixin wh($w,$h){
    width: $w;
    height: $h;
}

@mixin reset {
    margin: 0px;
    padding: 0px;
}
// 陰影尺寸
@mixin shadow {
    box-shadow: var(--shadow);
}

@mixin t-title {
    /* Title */
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title);
    line-height: 69px;
    /* identical to box height */

    letter-spacing: 0.1em;
    // 能這樣做嗎?
    // @media (max-width:700px) {
    //     font-size: 10px;
    // }
}

@mixin t-title-sm {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fz-title-sm);
    line-height: 46px;
    /* identical to box height */

    letter-spacing: 0.1em;
}

@mixin t-inner {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 600;
    font-size: var(--fz-inner);
    line-height: 147.7%;
    /* identical to box height, or 27px */
    letter-spacing: 0.2em;
}

@mixin t-inner-sm {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 600;
    font-size: var(--fz-inner-sm);
    line-height: 147.7%;
    /* identical to box height, or 27px */

    letter-spacing: 0.2em;
}

* {
    font-family: 'Noto Serif TC', serif;
    box-sizing: border-box;
}

html{
    @include reset;
    body{
        @include reset;
        overflow-x: hidden;
    }
}


a{
    text-decoration: none;
}